/*～～～～～主色调控制～～～～～*/
/*主要颜色*/
.c-primary,
.c-primary a,
a.c-primary {
    color: #e03b83;
}

.bg-primary {
    background: #e03b83;
}

/*次主色*/
.c-secondary,
.c-secondary a,
a.c-secondary {
    color: #2aaedd;
}

.bg-secondary {
    background: #2aaedd;
}

/*强调色—成功*/
.c-success,
.c-success a,
a.c-success {
    color: #5eb95e;
}

.bg-success {
    background: #5eb95e;
}

/*强调色—危险*/
.c-danger,
.c-danger a,
a.c-danger {
    color: #dd514c;
}

.bg-danger {
    background: #dd514c;
}

/*强调色—警告*/
.c-warning,
.c-warning a,
a.c-warning {
    color: #f37b1d;
}

.bg-warning {
    background: #f37b1d;
}

/*强调色—错误*/
.c-error,
.c-error a,
a.c-error {
    color: #c00;
}

.bg-error {
    background: #c00;
}

/*轮播图的效果*/
.banner-box {
    box-shadow: 0 0.066667rem 0.133333rem #ababab;
}

.focus span {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background: #fff;
    font-size: 0
}

.focus span.current {
    background: #e03b83;
}

/*～～～～登陆页面 login.html～～～～*/
html, body {
    background: #eff1f3;
}

/*头部区域*/
.head-wrap {
    width: 100%;
    height: 1.466667rem;
    color: #fff;
    background: #341d3a;
    border: 0.013333rem solid #341d3a;
}

.head-wrap h1 {
    font-size: 0.533333rem;
    text-align: center;
    line-height: 1.466667rem;
}

.head-wrap .back,
.head-wrap .home,
.head-wrap .cart {
    position: absolute;
    top: 0.4rem;
    display: block;
    width: 0.666667rem;
    height: 0.666667rem;
    background-size: 0.666667rem 0.666667rem;
}

.head-wrap .back {
    left: 0.333333rem;
    background: url('../images/h5/icon_back.png') no-repeat;
    background-size: 0.666667rem 0.666667rem;
}

.head-wrap .home {
    right: 0.533333rem;
    background: url('../images/h5/icon_home.png') no-repeat;
    background-size: 0.666667rem 0.666667rem;
}
.head-wrap .cart{
    right: 0.533333rem;
    background: url('../images/h5/icon_cart@fff.png') no-repeat;
    background-size: 0.666667rem 0.666667rem;
}

.head-wrap .head-double {
    width: 5.066667rem;
    margin: 0.333333rem auto;
}

.head-wrap .head-triple {
    width: 7.6rem;
    margin: 0.333333rem auto;
}

.head-wrap li {
    float: left;
    /*width: 2.533333rem;*/
    width: 33.333333%;
    height: 0.8rem;
    border: 2px solid #fff;
    letter-spacing: 0.133333rem;
    text-indent: 0.133333rem;
    font-size: 0.346667rem;
    text-align: center;
}

.head-wrap .head-triple li {
    letter-spacing: normal;
    text-indent: 0;
}

.head-wrap li a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    line-height: 0.746667rem;

}

.head-wrap li.active a {
    background: #fff;
    color: #341d3a;
}

.head-wrap li:first-child {
    border-radius: 0.133333rem 0 0 0.133333rem;
    border-right: 1px solid #fff;
}

.head-wrap li:last-child {
    border-radius: 0 0.133333rem 0.133333rem 0;
    border-left: 1px solid #fff;
}

.body-wrap {
    width: 10rem;
    margin: 0 auto;
}

/*中间内容区域*/
.lg-body-wrap {
    width: 10.0rem;
    margin: 2.4rem auto 0;
}

.lg-number,
.lg-code {
    width: 9.333333rem;
    margin: 0 auto 0.4rem;
}

.lg-number span,
.lg-code span {
    float: left;
    width: 2.0rem;
    height: 1.066667rem;
    font-size: 0.453333rem;
    color: #333;
    line-height: 1.066667rem;
}

.lg-number input {
    float: left;
    width: 7.333333rem;
    height: 1.066667rem;
    padding-left: 0.266667rem;
    border-radius: 5px;
    border: 1px solid #666;
    font-size: 0.4rem;
}

.lg-code input {
    float: left;
    width: 3.333333rem;
    height: 1.066667rem;
    padding: 0.266667rem;
    border-radius: 5px;
    border: 1px solid #666;
    font-size: 0.4rem;
}

.lg-code button {
    float: right;
    width: 3.333333rem;
    height: 1.066667rem;
    border-radius: 5px;
    text-align: center;
    line-height: 1.066667rem;
    font-size: 0.4rem;
    color: #fff;
}

/*登陆区域*/
.lg-btn {
    width: 9.333333rem;
    margin: 1.333333rem auto 0;
}

.lg-btn button {
    display: block;
    width: 100%;
    height: 1.2rem;
    border-radius: 5px;
    font-size: 0.453333rem;
    color: #fff;
    letter-spacing: 0.266667rem;
    text-indent: 0.266667rem;
}

.lg-btn-other {
    width: 100%;
    height: 1.2rem;
    margin-top: 0.666667rem;
    padding: 0.2rem;
}

.lg-btn-other span {
    float: left;
    width: 0.984rem;
    height: 0.8rem;
    margin-right: 0.4rem;
}

.lg-btn-other span:nth-of-type(1) {
    background: url("../images/h5/wechat.png") no-repeat;
    background-size: 0.984rem 0.8rem;
}

/*~~~~ 填写报名资料 apply.html ～～～～*/
.apy-body-wrap {
    width: 10rem;
    margin: 0 auto;
    padding: 0 0.4rem;
}

.apy-list {
    width: 100%;
}

.apy-list li {
    /*height: 1.013333rem;*/
    border-bottom: 1px dotted #ccc;
}

.apy-list li p {
    float: left;
    width: 1.733333rem;
    height: 1.013333rem;
    font-size: 0.4rem;
    line-height: 1.013333rem;
    text-align: justify;
    text-justify: inter-ideograph;
}

.apy-list li p span {
    display: inline-block;
    padding-left: 100%;
}

.apy-list li div {
    position: relative;
    float: right;
    width: 7.066667rem;
    line-height: 1.013333rem;
}

.apy-list li div input[type=text] {
    width: 100%;
    height: 1.013333rem;
    padding: 0.066667rem 0.133333rem;
    font-size: 0.373333rem;
    background: transparent;
}

.apy-list li div label {
    float: left;
    height: 0.4rem;
    margin-top: 0.306666rem;
    margin-right: 0.266667rem;
    line-height: 0.4rem;
    vertical-align: center;
}

.apy-list li div input[type=radio],
.apy-list li div input[type=checkbox] {
    width: 0.4rem;
    height: 0.4rem;
    margin-right: 0.066667rem;
}

.apy-list li div select {
    position: relative;
    width: 100%;
    height: 0.7rem;
    margin-top: 0.155rem;
    padding: 0.066667rem 0.133333rem;
    font-size: 0.373333rem;
    background: transparent;
    z-index: 1;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.apy-list li div .icon-down {
    position: absolute;
    top: 0.306666rem;
    right: 0.266666rem;
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    background: url(../images/h5/icon_down@999.png) no-repeat;
    background-size: 0.4rem 0.4rem;
    z-index: 0;
}

/*复选框样式*/
.apy-list .apy-list-check div {
    margin-bottom: 0.266667rem;
}

.apy-list .apy-list-check div label {
    float: none;
    display: block;
}

/*确认按钮*/
.apy-btn {
    width: 100%;
    margin: 1.333333rem auto 0;
}

.apy-btn button {
    display: block;
    width: 100%;
    height: 1.2rem;
    border-radius: 5px;
    font-size: 0.453333rem;
    color: #fff;
    letter-spacing: 0.266667rem;
    text-indent: 0.266667rem;
}

/*~~~~ 审核中 audit.html ～～～～*/
.audit-body-wrap {
    width: 10rem;
    margin: 0 auto;
}

.audit-ban {
    width: 100%;
    height: auto;
}

.audit-ban img {
    display: block;
    width: 100%;
    height: auto;
}

.audit-con {
    margin-top: 0.666667rem;
}

.audit-con p {
    font-size: 0.453333rem;
    text-align: center;
    color: #341d3a;
    font-weight: 100;
}

.audit-btn {
    width: 90%;
    margin: 1.333333rem auto 0;
}

.audit-btn button {
    display: block;
    width: 100%;
    height: 1.2rem;
    border-radius: 5px;
    font-size: 0.453333rem;
    color: #fff;
    letter-spacing: 0.266667rem;
    text-indent: 0.266667rem;
}

/*以下样式 个人中心与之共用*/
.audit-msg {
    width: 90%;
    margin: 0.266667rem auto 0;
}

.audit-msg li {
    width: 100%;
    height: 1.066667rem;
    border-bottom: 1px dotted #ccc;
}

.audit-msg li:last-child {
    border-bottom: none;
}

.audit-msg li {
    font-size: 0.453333rem;
    color: #333;
    line-height: 1.066667rem;
}

.audit-msg li:nth-of-type(1) p:nth-of-type(1) {
    float: left;
    width: 60%;
}

.audit-msg li:nth-of-type(1) p:nth-of-type(2) {
    float: right;
    width: 40%;
}

.audit-msg li:nth-of-type(2) p {
    float: left;
    width: 70%;
}

.audit-msg li:nth-of-type(2) a {
    float: right;
    width: 30%;
    height: 0.666667rem;
    margin-top: 0.2rem;
    border-radius: 0.133333rem;
    font-size: 0.453333rem;
    line-height: 0.666667rem;
    letter-spacing: 0.133333rem;
    text-indent: 0.133333rem;
    text-align: center;
    color: #fff;
}

/*个人中心下导航*/
.my-nav {
    width: 90%;
    margin: 0.4rem auto 0;
}

.my-nav li {
    float: left;
    width: 32%;
    height: 2.0rem;
    margin-right: 2%;
    margin-bottom: 0.2rem;
    border-radius: 0.133333rem;
    font-size: 0.453333rem;
    text-align: center;
    line-height: 2.0rem;
}

.my-nav li:nth-of-type(3n) {
    margin-right: 0;
}

.my-nav li a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}

.my-nav li span {
    position: absolute;
    bottom: 0.2rem;
    left: 0;
    display: block;
    width: 100%;
    font-size: 0.266667rem;
    line-height: 0.373333rem;
    text-align: center;
}

.my-nav li:nth-of-type(9n+1) {
    background: #eb6877;
}

.my-nav li:nth-of-type(9n+2) {
    background: #ebb268;
}

.my-nav li:nth-of-type(9n+3) {
    background: #5fc0a3;
}

.my-nav li:nth-of-type(9n+4) {
    background: #68b2eb;
}

.my-nav li:nth-of-type(9n+5) {
    background: #a286bf;
}

.my-nav li:nth-of-type(9n+6) {
    background: #848fc9;
}
.my-nav li:nth-of-type(9n+7) {
    background: #19fadd;
}
.my-nav li:nth-of-type(9n+8) {
    background: #26fd42;
}

.my-nav li:nth-of-type(9n+9) {
    background: #9196f8;
}


/*～～～～～我的行程～～～～～*/
.sch-body-wrap {
    width: 10rem;
    margin: 0 auto;
}

.sch-null {
    text-align: center;
    padding-top: 1.333333rem;
}

.sch-add {
    text-align: center;
}

.sch-null p {
    font-size: 0.32rem;
    font-weight: 200;
    color: #bbb;
}

.sch-null a,
.sch-add a {
    display: inline-block;
    height: 0.533333rem;
    margin-top: 0.4rem;
    line-height: 0.533333rem;
    font-size: 0.453333rem;

}

.sch-null a i,
.sch-add a i {
    display: block;
    width: 0.533333rem;
    height: 0.533333rem;
    margin: 0 auto 0.133333rem;
    background: url('../images/h5/icon_add_primary.png') no-repeat;
    background-size: 0.533333rem 0.533333rem;
    vertical-align: middle;
}

/*添加行程*/
.sch-add-info ul {
    margin-bottom: 0.4rem;
    background: #fff;
}

.sch-add-info ul li {
    width: 100%;
    height: 1.093333rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-top: 1px solid #ddd;
    line-height: 1.066667rem;
    font-size: 0.346667rem;
    color: #999;

}

.sch-add-info ul li:last-child {
    border-bottom: 1px solid #ddd;
}

.sch-add-title {

}

.sch-add-info ul li i {
    float: left;
    width: 0.533333rem;
    height: 0.533333rem;
    margin-top: 0.266667rem;
    margin-right: 0.266667rem;
}

.icon-airplane {
    background: url('../images/h5/icon_airplane.png') no-repeat;
    background-size: 0.533333rem 0.533333rem;
}

.icon-bus {
    background: url('../images/h5/icon_bus.png') no-repeat;
    background-size: 0.533333rem 0.533333rem;
}

.icon-position {
    background: url('../images/h5/icon_position.png') no-repeat;
    background-size: 0.533333rem 0.533333rem;
}

.icon-date {
    background: url('../images/h5/icon_date.png') no-repeat;
    background-size: 0.533333rem 0.533333rem;
}

.sch-add-info ul li {
    position: relative;
}

.sch-add-info ul li p {
    float: left;
}

.sch-add-info ul li label {
    margin-right: 0.266667rem;
}

.sch-add-info ul li input[type=radio] {
    width: 0.4rem;
    height: 0.4rem;
}

.sch-add-info ul li input[type=text] {
    width: 100%;
}

.sch-add-info ul li input[type=date] {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    z-index: 1;
}

.sch-add-info ul li .icon-down {
    position: absolute;
    top: 0;
    right: 0.266666rem;
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    background: url(../images/h5/icon_down@999.png) no-repeat;
    background-size: 0.4rem 0.4rem;
    z-index: 0;
}

.sch-add-info ul li span {
    float: left;
}

.sch-add-info ul li .sch-date {
    float: right;
    width: 4.0rem;
    height: 100%;
    padding-left: 0.266667rem;
    font-size: 0.4rem;
    color: #999;
}

/*我的行程预览页面*/
.sch-my-air,
.sch-my-train {
    position: relative;
    width: 9.466667rem;
    height: 4.933333rem;
    margin: 0.933333rem auto;
    border-radius: 0.2rem;
    box-shadow: 0.026667rem 0.053333rem 0.066667rem #ccc, -0.026667rem 0 0.066667rem #ccc;
}

.sch-my-round {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 2.293333rem;
    height: 2.293333rem;
    margin-left: -1.146667rem;
    margin-top: -0.44rem;
    border-radius: 50%;
    background: #e03b83;
    z-index: 1;
}

.sch-my-rec {
    position: relative;
    width: 100%;
    height: 1.333333rem;
    border-radius: 0.2rem 0.2rem 0 0;
    background: #e03b83;
    box-shadow: 0 0.04rem 0.066667rem #ccc;
    z-index: 3;

}

.sch-my-train .sch-my-round,
.sch-my-train .sch-my-rec {
    background: #2aaedd;
}

.sch-my-rec i {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 0.666667rem;
    height: 0.666667rem;
    margin-left: -0.333333rem;
    margin-top: -0.133333rem;
    background: url('../images/h5/icon_airplane@fff.png') no-repeat;
    background-size: 0.666667rem 0.666667rem;
}

.sch-my-train .sch-my-rec i {
    background: url('../images/h5/icon_train@fff.png') no-repeat;
    background-size: 0.666667rem 0.666667rem;
}

.sch-my-rec p {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0.666667rem;
    font-size: 0.346667rem;
    color: #fff;
    text-align: center;
}

.sch-my-info {
    position: relative;
    width: 100%;
    height: 3.6rem;
    border-radius: 0 0 0.2rem 0.2rem;
    background: #fff;
    z-index: 2;
}

.sch-my-info i {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.666667rem;
    height: 0.666667rem;
    margin-left: -0.333333rem;
    margin-top: -0.333333rem;
    background: url('../images/h5/icon_airplane@555.png') no-repeat;
    background-size: 0.666667rem 0.666667rem;
}

.sch-my-train .sch-my-info i {
    background: url('../images/h5/icon_train@555.png') no-repeat;
    background-size: 0.666667rem 0.666667rem;
}

.sch-my-info ul {
    float: left;
    width: 50%;
    padding: 0.666667rem 0;
    text-align: center;
}

.sch-my-info ul li {
    height: 0.466667rem;
    font-size: 0.346667rem;
    color: #555;
    line-height: 0.466667rem;
    font-weight: 300;

}

.sch-my-info ul li:nth-of-type(2) {
    height: 1.333333rem;
    font-size: 1.066667rem;
    line-height: 1.333333rem;

}

.sch-null {
    text-align: center;
    padding-top: 1.333333rem;
}

/*～～～～～大巴时刻～～～～～*/
.bus-body-wrap {
    width: 10rem;
    margin: 0 auto;
}

.bus-con-box {
    width: 9.466667rem;
    margin: 0 auto;
    padding: 0.373333rem 0 0;
}

.bus-con-title {
    height: 0.533333rem;
    margin-bottom: 0.373333rem;
    font-size: 0.453333rem;
    color: #731b8a;
    text-align: center;
    line-height: 0.533333rem;
}

.bus-con-box dd {
    margin-bottom: 0.4rem;
}

.bus-con-header {
    position: relative;
    width: 100%;
    height: 0.933333rem;
    border-radius: 0.133333rem 0.133333rem 0 0;
    background: #731b8a;
    box-shadow: 0 0.04rem 0.066667rem #ccc;
}

.bus-con-header p {
    font-size: 0.4rem;
    color: #fff;
    line-height: 0.933333rem;
    text-align: center;
    font-weight: 400;
}

.bus-con-header i {
    position: absolute;
    top: 0.2rem;
    right: 0.4rem;
    display: block;
    width: 0.533333rem;
    height: 0.533333rem;
    background: url('../images/h5/icon_down@fff.png') no-repeat;
    background-size: 0.533333rem 0.533333rem;
}

.bus-con-show .bus-con-header i {
    transform: rotate(180deg);
}

.bus-con-body {
    display: none;
}

.bus-con-show .bus-con-body {
    display: block;
}

.bus-con-info {
    position: relative;
    width: 100%;
    height: 1.866667rem;
    padding: 0.4rem 0;
    background: #fff;
}

.bus-con-info i {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.533333rem;
    height: 0.533333rem;
    margin-left: -0.266667rem;
    margin-top: -0.266667rem;
    background: url('../images/h5/icon_down@999.png') no-repeat;
    background-size: 0.533333rem 0.533333rem;
    transform: rotate(-90deg)
}

.bus-con-info div {
    float: left;
    width: 50%;
    text-align: center;
    color: #555;
    font-weight: 300;
}

.bus-con-info div span {
    height: 0.266667rem;
    font-size: 0.266667rem;
    line-height: 0.266667rem;
}

.bus-con-info div p {
    height: 0.8rem;
    font-size: 0.533333rem;
    line-height: 0.8rem;
}

.bus-con-footer {
    width: 100%;
    height: 0.8rem;
    border-radius: 0 0 0.133333rem 0.133333rem;
    font-size: 0.32rem;
    line-height: 0.8rem;
    text-align: center;
    color: #731b8a;
    background: #f3f3f3;
    box-shadow: 0 0.04rem 0.133333rem #ccc;
}

.bus-con-footer span {
    margin-right: 0.266667rem;
    color: #2aaedd;
}

.bus-con-footer a {
    color: #2aaedd;
    text-decoration: underline;
}

/*～～～～～餐券～～～～～*/
.ticket-list {
    width: 8.906667rem;
    margin: 0 auto;
}

.ticket-list li {
    width: 100%;
    margin: 0.266667rem 0;
}

.ticket-list li img {
    display: block;
    width: 100%;
    height: auto;
}
/*二维码页面*/
.pop-ticket-qrcode{
    position: absolute;
    top:50%;
    left:50%;
    width: 4.0rem;
    height: 4.0rem;
    margin-top: -2rem;
    margin-left: -2rem;
    padding: 0.2rem;
    border-radius: 0.2rem;
    background: #fff;
}
.pop-ticket-qrcode img{
    display: block;
    width: 100%;
    height: 100%;
}
.qr-con{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8.72rem;
    height: 11.066667rem;
    margin-top: -5.533333rem;
    margin-left: -4.36rem;
    background: #efefef;
}
.qr-con img{
    display: block;
    width: 2.666667rem;
    height: 2.666667rem;
    margin: 1.333333rem auto 0;
}
.qr-con p{
    margin-top: 0.266667rem;
    margin-bottom: 1.333333rem;
    font-size: 0.453333rem;
    color: #333;
    text-align: center;
}
.qr-con span{
    display: block;
    font-size: 0.346667rem;
    text-align: center;
    color: #999;
}
.qr-con a{
    display: block;
    width: 5.733333rem;
    height: 1.2rem;
    margin: 1.333333rem auto 0;
    border-radius: 0.2rem;
    font-size: 0.453333rem;
    color: #fff;
    letter-spacing: 0.4rem;
    text-indent: 0.4rem;
    text-align: center;
    line-height: 1.2rem;
}
/*～～～～～会员管理～～～～～*/
.mem-search {
    width: 8.533333rem;
    height: 1.066667rem;
    margin: 0.4rem auto;
    border: 2px solid #999;
    border-radius: 0.133333rem;
    background: #fff;
}

.mem-search input {
    float: left;
    width: 7.333333rem;
    height: 100%;
    padding: 0 0.133333rem;
    border-radius: 0.133333rem;
    font-size: 0.4rem;
    color: #999;
    line-height: 1.013333rem;
}

.mem-search .mem-search-btn {
    float: right;
    width: 1.093333rem;
    height: 100%;
    background: transparent url('../images/h5/icon_search@999.png') no-repeat center;
    background-size: 0.6rem 0.6rem;
}

.mem-table-box {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2.4rem;
}

.mem-table {
    width: 100%;
    text-align: center;
}

.mem-table tr {
    height: 0.733333rem;
    border-bottom: 1px solid #ccc;
    line-height: 0.733333rem;
}

.mem-table th {
    font-size: 0.346667rem;
    color: #333;
}

.mem-table td {
    position: relative;;
    height: 0.72rem;
    font-size: 0.32rem;
    color: #666;
}

.mem-table .mem-state {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.mem-table .mem-yes {
    background: url('../images/h5/icon_mem_yes.png') no-repeat center;
    background-size: 0.4rem 0.4rem;
}

.mem-table .mem-not {
    background: url('../images/h5/icon_mem_not.png') no-repeat center;
    background-size: 0.4rem 0.4rem;
}

.mem-table .mem-wait {
    background: url('../images/h5/icon_mem_wait.png') no-repeat center;
    background-size: 0.4rem 0.4rem;
}

.mem-table td a {
    color: #2aaedd;
}

.mem-table td a:first-child {
    margin-right: 0.066667rem;
}

.mem-table td a:last-child {
    margin-left: 0.066667rem;
}

.mem-check-all {
    font-size: 0.32rem;
    color: #999;
}

.mem-check-all.active {
    color: #2aaedd;
    border-bottom: 1px solid #2aaedd;
}

.mem-btn {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.0rem;
    border-top: 1px dotted #ccc;
    text-align: center;
}

.mem-btn button {
    display: inline-block;
    width: 3.733333rem;
    height: 1.2rem;
    margin: 0.4rem 0.133333rem;
    border-radius: 0.133333rem;
    font-size: 0.453333rem;
    letter-spacing: 0.053333rem;
    text-indent: 0.053333rem;
    color: #fff;
}

/*查看弹出框*/
.pop-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 9;
}

.pop-mem-main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6.0rem;
    height: 4.88rem;
    margin-left: -3.0rem;
    margin-top: -2.44rem;
    border-radius: 0.133333rem;
    background: #fff;
}

.pop-close {
    position: absolute;
    right: 0.133333rem;
    top: 0.133333rem;
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    background: url("../images/h5/icon_close@2aaedd.png") no-repeat;
    background-size: 0.4rem 0.4rem;
}

.pop-mem-list {
    width: 5.2rem;
    margin: 0.6rem auto 0;
    font-size: 0.32rem;
    color: #666;
    line-height: 0.533333rem;
}

.pop-mem-list li p {
    float: left;
    width: 1.0rem;
}

.pop-mem-list li span {
    float: left;
    width: 4.2rem;
}

.pop-mem-btn {
    width: 5.2rem;
    margin: 0.266667rem auto 0;
    text-align: center;
}

.pop-mem-btn button {
    padding: 0.2rem 0.266667rem;
    margin: 0 0.133333rem;
    border-radius: 0.133333rem;
    font-size: 0.346667rem;
    color: #fff;
}
/*餐桌管理页面弹窗*/
.pop-table-main{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6.0rem;
    margin-left: -3.0rem;
    border-radius: 0.133333rem;
    background: #fff;
    height: 8.666667rem;
    margin-top: -4.333333rem;
}
.pop-table-list {
    width: 5.2rem;
    margin: 0.6rem auto 0;
    font-size: 0.32rem;
    color: #666;
    line-height: 0.533333rem;
}

.pop-table-list li p {
    float: left;
    width: 1.0rem;
}

.pop-table-list li span {
    float: left;
    width: 4.2rem;
}
.pop-table-info{
    width: 4.533333rem;
    margin: 0.266667rem auto 0;
    font-size: 0.266667rem;
    color: #666;
    line-height: .533333rem;
}
.pop-table-info li > p{
    float: left;
    width: 1.6rem;
}
.pop-table-info li div{
    float: left;
    width: 2.933333rem;
}
.pop-table-info li div span{
    margin: 0 0.053333rem;
    font-size: 0.213333rem;;
    color: #2aaedd;
}
.pop-table-btn {
    position: absolute;
    bottom: 0.266667rem;
    left: 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.pop-table-btn button {
    padding: 0.2rem 0.266667rem;
    margin: 0 0.133333rem;
    border-radius: 0.133333rem;
    font-size: 0.346667rem;
    color: #fff;
}
/*分配餐桌页面*/
.table-set-select{
    width: 8.666667rem;
    margin: 0 auto;
}
.table-set-select li{
    border-bottom: 1px dotted #ccc;
}
.table-set-select li>p{
    float: left;
    width: 1.6rem;
    height:1.066667rem;
    font-size: 0.453333rem;
    color: #333;
    line-height: 1.066667rem;
    text-align:justify;
}
.table-set-select li>p span{
    display: inline-block;
    padding-left: 100%;
}
.table-set-select li>span,
.table-set-select li>div{
    float: right;
}
.table-set-select li>span{
    height: 1.066667rem;
    width: 6.666667rem;
    line-height: 1.066667rem;
    font-size: 0.4rem;
    color: #666;
}
.table-set-select li>div{
    position: relative;
}
.table-set-select li>div select{
    position: relative;
    width: 6.666667rem;
    height: 0.8rem;
    margin-top: 0.133333rem;
    background: transparent;
    font-size: 0.4rem;
    color: #999;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    z-index: 1;
}
.table-set-select li>div i{
    position: absolute;
    top: 0.306666rem;
    right: 0.266666rem;
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    background: url(../images/h5/icon_down@999.png) no-repeat;
    background-size: 0.4rem 0.4rem;
    z-index: 0;
}
.table-set-view{
    width: 8.266667rem;
    height: 4.933333rem;
    margin: 0.666667rem auto 0;
    border: 1px solid #ccc;
    border-radius: 0.066667rem;
}
.table-set-view dt{
    height: 1.333333rem;
    line-height: 1.333333rem;
    font-size: 0.453333rem;
    color: #666;
    text-align: center;
}
.table-set-view dd{

}
.table-set-view dd p{
    float: left;
    width: 50%;
    padding-left: 0.266667rem;
    font-size: 0.346667rem;
    color: #666;
    text-align: left;
}
.table-set-btn{
    margin-top: 2.266667rem;
    text-align: center;
}
.table-set-btn button{
    width: 9.2rem;
    height: 1.2rem;
    border-radius: 0.133333rem;
    font-size: 0.453333rem;
    color: #fff;
    letter-spacing: 0.266667rem;
    text-indent: 0.266667rem;
}
/*查看餐桌*/
.table-view-top{
    width: 9.333333rem;
    margin: 0.266667rem auto 0;
    border-bottom: 1px dotted #ccc;
}
.table-view-top p{
    float: left;
    width: 1.64rem;
    height: 1.066667rem;
    font-size: 0.453333rem;
    line-height: 1.066667rem;
    color: #333;
    text-align: justify;
}
.table-view-top p span{
    display: inline-block;
    padding-left: 100%;
}
.table-view-top>div{
    position: relative;
    float: right;
    width: 6.8rem;
    height: 0.8rem;
    margin-top: 0.133333rem;
    border:1px solid #999;
    font-size: 0.4rem;
}
.table-view-top>div select{
    position: relative;
    padding:0 0.266667rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    width: 100%;
    height: 100%;
    color:#999;
    z-index: 1;
}
.table-view-top>div i{
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    background: url(../images/h5/icon_down@999.png) no-repeat;
    background-size: 0.4rem 0.4rem;
    z-index: 0;
}
.table-view-con{
    padding-bottom: 0.266667rem;
}
/*～～～～～每日活动页面～～～～～*/
.act-home{
    width:9.333333rem;
    margin: 0.733333rem auto 0;
}
.act-home li{
    width:100%;
    height: 2.266667rem;
    margin-bottom: 0.533333rem;
    border-radius: 0.2rem;
    background: #341d3a;
    box-shadow: 0 0.066667rem 0.106667rem #ccc;
}
.act-home li a{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 0.453333rem;
    color: #fff;
    line-height: 2.266667rem;
    text-align: center;
    letter-spacing: 0.106667rem;
    text-indent: 0.106667rem;
}
/*每日竞答*/
.act-ans-box{
    width: 100%;
    margin: 0.4rem auto 0;
    border-bottom: 1px solid #ccc;
}
.act-ans-title{
    height: 0.666667rem;
    margin: 0.266667rem 0;
    font-size: 0.48rem;
    line-height: 0.666667rem;
    text-align: center;
    letter-spacing: 0.133333rem;
    text-indent: 0.133333rem;
}
.act-ans-list{
    margin: 0.266667rem 0;
}
.act-ans-list dt{
    margin-bottom: 0.133333rem;
    padding: 0 1rem;
    font-size: 0.4rem;
    color: #666;
    background: #f1fefe;
    line-height: 0.8rem;
}
.act-ans-list dd{
    width: 100%;
    height: 0.666667rem;
    padding: 0 1rem 0 1.5rem;
    font-size: 0.346667rem;
    color: #666;
    line-height: 0.666667rem;
}
.act-ans-list dd input{
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    margin-right: 0.266667rem;
}
.act-ans-btn{
    width: 90%;
    height: 2.666667rem;
    background: #cyan;
    margin: 0 auto;
}
.act-ans-btn p{
    font-size: 0.266667rem;
    color: #666;
    text-align: center;
    margin: 0.266667rem 0;
}
.act-ans-btn button{
    width: 100%;
    height: 1.2rem;
    border-radius: 0.2rem;
    font-size: 0.453333rem;
    line-height: 1.2rem;
    color: #fff;
    letter-spacing: 0.2rem;
    text-indent: 0.2rem;
}
/*回答问题之后弹窗*/
.pop-ans-result{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3.8rem;
    margin-top: -1.906667rem;
    background: #fff;
    box-shadow:0 0.066667rem 0.133333rem #bbb,0 -0.066667rem 0.133333rem #bbb;
}
.pop-ans-result p{
    margin-top: 0.8rem;
    margin-bottom: 0.533333rem;
    font-size: 0.426667rem;
    color: #666;
    text-align: center;
}
.pop-ans-result p span{
    font-size: 0.533333rem;
}
.pop-ans-result a{
    display: block;
    width: 3.84rem;
    height: 0.586667rem;
    color: #fff;
    margin: 0 auto;
    border-radius: 0.133333rem;
    text-align: center;
    line-height: 0.533333rem;
    letter-spacing: 0.4rem;
    text-indent: 0.4rem;
}
/*厂家活动*/
.act-fac-box{
    width: 9.333333rem;
    margin: 0 auto;
}
.act-fac-box li{
    width: 9.333333rem;
    height: 2.266667rem;
    margin-top: 0.266667rem;
}
.act-fac-box li img{
    display: block;
    width: 100%;
    height: 100%;
}
/*每日签到*/
.act-sign-box{

}
.act-sign-day{
    width: 7.4rem;
    margin: 0.8rem auto 0;
}

.act-sign-day div{
    position: relative;
    float: left;
    width: 1.44rem;
    height: 1.44rem;
    margin: 0.84rem 0.1rem;
    border-radius: 50%;
    background: #2aaedd;
    font-size: 0.346667rem;
    text-align: center;
    line-height: 1.44rem;
    color: #fff;
}
.act-sign-day div.active{
    width: 2.28rem;
    height: 2.28rem;
    margin-top: 0;
    border:0.12rem solid #2aaedd;
    background: #fff;
    color:#999;
}
.act-sign-day div.active span{
    display: block;
    width: 1.52rem;
    height:0.88rem;
    margin: 0.133333rem auto 0;
    border-bottom: 1px solid #2aaedd;
    font-size: 0.453333rem;
    color: #2aaedd;
    line-height: 0.933333rem;
}
.act-sign-day div.active strong{
    display: block;
    line-height: 0.8rem;
}
.act-sign-day div .act-sign-day-icon{
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    width: 0.48rem;
    height: 0.48rem;
    background: url("../images/h5/icon_act_sign.png") no-repeat;
    background-size: 0.48rem 0.48rem;
}
.act-sign-day div.finish .act-sign-day-icon{
    display: block;
}
.act-sign-btn{
    width: 9.2rem;
    height: 1.2rem;
    margin: 0 auto;
}
.act-sign-btn button{
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
    font-size: 0.453333rem;
    color: #fff;
    letter-spacing: 0.2rem;
    text-indent: 0.2rem;
}
.act-sign-bar{
    width: 6.88rem;
    margin: 0 auto;
}
.act-sign-bar>div{
    height: 1.066667rem;
    overflow: hidden;
}
.act-sign-bar p{
    height: 0.666667rem;

    font-size: 0.346667rem;
    color: #666;
    text-align: center;
}
/*进度条 样式*/
.therm.inner-therm span{
    visibility: 0;
}
.act-sign-rule{
    text-align: center;
    margin-top: 0.8rem;
    color: #666;
}
.act-sign-rule h6{
    font-size: 0.346667rem;
    line-height: 2;
}
.act-sign-rule p{
    padding: 0 10%;
    font-size: 0.266667rem;
    line-height: 1.8;
}
/*～～～～～参展商商城样式～～～～～*/
.mall-body-wrap{
    position: relative;
    width: 10.0rem;
    min-height: 16.24rem;
    margin: 0 auto;
    background:url("../images/h5/mall_bg@750x1218.png") repeat-y;
    background-size: 10.0rem 16.24rem;
}
.mall-body{
    width: 100%;
    min-height: 16.24rem;
    padding-top: 1.066667rem;
    background: rgba(0,0,0,0.4);
}
/*搜索框*/
.mall-search{
    position: relative;
    width: 8.533333rem;
    height: 1.066667rem;
    margin: 0 auto;
    border:0.053333rem solid #fff;
    border-radius: 0.2rem;
}
.mall-search input{
    width: 100%;
    height: 100%;
    padding:0 0.266667rem;
    background: transparent;
    font-size: 0.426667rem;
    color: #fff;
}
.mall-search i{
    position: absolute;
    top:0;
    right: 0;
    display: block;
    width: 0.96rem;
    height: 0.96rem;
    background: url("../images/h5/icon_search@fff.png") no-repeat center;
    background-size: 0.453333rem 0.453333rem;
}
.mall-con{
    width: 8.8rem;
    margin: 1.0rem auto 0;
}
.mall-con li{
    float: left;
    width: 2.533333rem;
    margin-right: 0.6rem;
    margin-bottom: 0.8rem;
}
.mall-con li:nth-of-type(3n){
    margin-right: 0;
}
.mall-con li a{
    display: block;
    width: 100%;
    height: 100%;
}
.mall-con li p{
    height: 0.666667rem;
    font-size: 0.346667rem;
    text-align: center;
    color: #fff;
    line-height: 0.666667rem;
   overflow: hidden;
}
.mall-con-bg{
    width: 2.533333rem;
    height: 2.533333rem;
    padding: 0.133333rem;
    border-radius: 50%;
    background: rgba(255,255,255,0.2);
}
.mall-con-logo{
    width: 2.266667rem;
    height: 2.266667rem;
    padding:0.2rem;
    border-radius: 50%;
    background: #fff;
}
.mall-con-logo img{
    display: block;
    width: 100%;
    height: auto;
}
/*～～～～～产品列表页面～～～～～*/
.goods-list{
    width: 9.2rem;
    margin: 0.266667rem auto 0;
}
.goods-list a{
    display: block;
    width: 100%;
    height: 100%;
}
.goods-list dt{
    height: 0.466667rem;
    font-size: 0.453333rem;
    line-height: 0.466667rem;

}
.goods-list .goods-list-dt-line{
    display: inline-block;
    width: 0.08rem;
    height: 0.466667rem;
    margin-right: 0.133333rem;
    vertical-align: top;
}
.goods-list dd{
    padding: 0.4rem 0;
    border-bottom: 1px solid #eaeaea;
}

.goods-list-img{
    position: relative;
    float: left;
    width: 3.16rem;
    height: 3.16rem;
    border-radius:0.133333rem;
}
.goods-list-img img{
    display: block;
    width: 100%;
    height: 100%;
}
.goods-list-img i{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1.266667rem;
    height: 1.026667rem;
    background:url("../images/h5/goods_tips@95x77.png") no-repeat;
    background-size: 1.266667rem 1.026667rem;

}
.goods-list-con{
    position: relative;
    float: right;
    width: 5.48rem;
}
.goods-list-con h2{
    max-width: 5.48rem;
    height: 0.72rem;
    font-size: 0.453333rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.goods-list-con ul{
    margin-top: 0.08rem;
    font-size: 0.32rem;
    color: #555;
}
.goods-list-con ul li{
    line-height: 0.56rem;
}
.goods-list-con ul li span{
    margin: 0 0.066667rem;
}
.goods-list-con i{
    position: absolute;
    top: 0.9rem;
    right: 0;
    display: block;
    width: 0.96rem;
    height: 0.413333rem;
    background: url("../images/h5/goods_icon@72x31.png") no-repeat;
    background-size: 0.96rem 0.413333rem;
}
/*~~~~~产品详情页~~~~~*/
.det-body{
    margin-top: 0.4rem;
}

.det-title{
    width: 9.2rem;
    margin:  0 auto;
    font-size: 0.426667rem;
    line-height: 0.56rem;
}
.det-price{
    width: 9.2rem;
    margin:  0 auto;
}
.det-price-buy{
    font-size: 0.533333rem;
    color:#ff3000;
}
.det-price-buy span{
    font-size: 0.933333rem;
    margin: 0 0.133333rem;
    /*line-height: 0.533333rem;*/
}
.det-price-buy i{
    display: inline-block;
    border:0.026667rem solid #ff3000;
    border-radius: 0.133333rem;
    padding: 0 0.133333rem;
    font-size: 0.293333rem;
}
.det-price-sale{
    font-size: 0.32rem;
    color: #ff3000;
}
.det-introduce{
    width: 9.2rem;
    margin: 0.4rem auto 0;
    padding-bottom: 3rem;
}
.det-introduce li{
    height: 0.68rem;
    font-size: 0.32rem;
    line-height: 0.68rem;
    border-bottom: 1px solid #eee;
}
.det-introduce li:last-child{
    border-bottom: none;
}
.det-introduce li p{
    float: left;
    width:1.5rem;
    height: 0.68rem;
    text-align:justify;
    color: #999;
}
.det-introduce li p i{
    display:inline-block;
    padding-left: 100%;
}
.det-introduce li span{
    float: left;
    width: 7.02rem;
    height: 0.68rem;
    margin-left:0.68rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666;
}
.det-btn-box{
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 10.0rem;
    height: 2.8rem;
    margin-left: -5.0rem;
    padding: 0.4rem 0.4rem;
    border-top: 1px solid #ccc;
    text-align:center;
    background: #fff;
    box-shadow: 0 -0.04rem 0.066667rem #eee;
}
.det-number{
    font-size: 0.32rem;
    color: #999;
}
.det-number p{
    float:left;
    width:1.5rem;
    height: 0.6rem;
    text-align:justify;
}
.det-number p i{
    display: inline-block;
    padding-left: 100%;
}
.det-number div{
    float: right;
}
.det-number div input{
    float: left;
    height: 0.6rem;
    width:1.333333rem;
    margin: 0 0.133333rem;
    padding: 0.133333rem;
    border-radius: 0.066667rem;
    background: #eaeaea;
    color: #333;
    text-align: center;
    line-height: 0.6rem;
}
.det-number div a{
    float: left;
    width: 0.6rem;
    height: 0.6rem;
    background: #eaeaea;
    border-radius: 0.066667rem;
    text-align: center;
    line-height: 0.6rem;
    font-size: 0.533333rem;
    overflow: hidden;
}
.det-btn-box button{
    width: 4.546667rem;
    height: 0.906667rem;
    margin-top: 0.4rem;
    border-radius: 0.2rem;
    font-size: 0.453333rem;
    color: #fff;
}
/*~~~~~购物车页面~~~~~*/
.cart-body-wrap{
    padding-bottom: 1.6rem;
}
.cart-list{
    background: #fff;
    height: 3.2rem;
    padding: 0.266667rem 0.4rem;
    margin-bottom: 0.2rem;

}
.cart-check{
    float: left;
    height: 2.666667rem;
    width: 0.586667rem;
}
.cart-check input{
    width: 0.506667rem;
    height: 2.666667rem;
}
.cart-img{
    float: left;
    width: 2.666667rem;
    height: 2.666667rem;
    border-radius: 0.133333rem;

}
.cart-img img{
    display: block;
    width: 100%;
    height: 100%
}
.cart-con{
    position: relative;
    float: right;
    width: 5.6rem;
    height: 2.666667rem;
}
.cart-con h2{
    width: 100%;
    height: 1.08rem;
    font-size: 0.346667rem;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cart-con h2 i{
    padding: 0 0.133333rem;
    margin-right: 0.133333rem;
    border-radius: 0.133333rem;
    color: #fff;
    background: #ff3000;
    font-size: 0.266667rem;
}
.cart-con .cart-con-price{
    font-size: 0.56rem;
    color: #ff3000;
}
.cart-con-edit{
    font-size: 0.4rem;
    color: #999;
}
.cart-con-edit input{
    width: 2.4rem;
    height: 0.64rem;
    padding:  0 0.133333rem;
    margin-right: 0.133333rem;
    background: #eaeaea;
    border-radius: 0.133333rem;
    font-size: 0.44rem;
    color: #333;
    text-align: center;
}
.cart-con .cart-con-delete{
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    width: 0.64rem;
    height: 0.64rem;
    background: url("../images/h5/icon_delete@999.png") no-repeat;
    background-size: 0.64rem 0.64rem;
}
/*脚部下单*/
.cart-footer-wrap{
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 10rem;
    height: 1.48rem;
    margin: 0 auto;
    margin-left: -5rem;
}
.cart-check-all{
    float: left;
    width: 2.4rem;
    height: 1.48rem;
    padding-left: 0.4rem;
    background: #2aaedd;
    font-size: 0.48rem;
    color: #fff;
}
.cart-check-btn{
    float: left;
    width: 0.6rem;
    height: 0.6rem;
    border:0.08rem solid #ccc;
    margin-right: 0.066667rem;
    margin-top: 0.44rem;
    border-radius: 50%;
    background: #ccc;
}
.cart-check-btn.active{
    background: #e03b83;
}
.cart-check-all p{
    float: left;
    line-height: 1.48rem;

}
.cart-footer-price {
    float: left;
    width: 4.8rem;
    height: 1.48rem;
    background: #2aaedd;
    color: #fff;
}
.cart-footer-price h6{
    width: 4.8rem;
    height: 0.746667rem;
    padding: 0 0.133333rem;
    font-size: 0.4rem;
    text-align: right;
    line-height: 0.746667rem;
}
.cart-footer-price p{
    width: 4.8rem;
    height: 0.733333rem;
    padding: 0 0.133333rem;
    overflow: hidden;
    font-size: 0.24rem;
    text-align: right;
    line-height: 0.733333rem;
}
.cart-footer-btn{
    float: left;
    width: 2.8rem;
    height: 1.48rem;
    background: #e03b83;
}
.cart-footer-btn button{
    width: 100%;
    height: 100%;
    background: transparent;
    font-size: 0.533333rem;
    color: #fff;
}
/*空购物车*/
.cart-empty{
    margin-top: 2.0rem;
    text-align: center;
}
.cart-empty div{
    width:3.4rem;
    height: 3.4rem;
    margin: 0 auto;
    background: url("../images/h5/icon_cart@dcdcdc.png") no-repeat;
    background-size: 3.4rem 3.4rem;
}
.cart-empty p{
    margin-top: 0.266667rem;
    font-size: 0.453333rem;
    color: #333;
}
.cart-empty span{
    display: block;
    margin-top: 0.266667rem;
    font-size: 0.373333rem;
    color: #bababa;
}
.cart-empty a{
    display: block;
    width: 8.56rem;
    height: 1.2rem;
    margin:1.333333rem auto 0;
    border-radius: 0.133333rem;
    font-size: 0.506667rem;
    color: #fff;
    line-height: 1.2rem;
    letter-spacing: 0.133333rem;
    text-indent: 0.133333rem;
}










