/*页面背景颜色*/
html {
    background: #1b264d;
}

/*头部*/
header {
    position: relative;
    width: 10.0rem;
    margin: 0 auto;
    background: #1b264d;
    z-index: 1;
}

.in-logo {
    float: left;
    width: 2.506667rem;
    height: 0.653333rem;
    margin-left: 0.706667rem;
    margin-top: 0.453333rem;
}

.in-slogan {
    float: right;
    width: 4.12rem;
    height: 2.693333rem;
    margin-right: 1.36rem;
    background: url("../images/slogan.png") no-repeat;
    -webkit-background-size: 4.12rem 2.693333rem;
    background-size: 4.12rem 2.693333rem;
}

/*主题背景*/
.in-bg-box {
    position: absolute;
    left: 50%;
    top: 1.893333rem;
    width: 10.0rem;
    margin-left: -5rem;
    z-index: 1;
}

.in-main-bg {
    width: 10.0rem;
    height: 7.066667rem;
    background: url("../images/in-title.png") no-repeat;
    -webkit-background-size: 10.0rem 7.066667rem;
}

.in-ribbon {
    position: absolute;
    top: -1.6rem;
    left: 1.813333rem;
    width: 8.186667rem;
    height: 4.76rem;
    background: url("../images/in-ribbons.png") no-repeat;
    -webkit-background-size: 8.186667rem 4.76rem;
    background-size: 8.186667rem 4.76rem;
}

.in-rule {
    position: absolute;
    left: 0;
    top: 1.333333rem;
    display: block;
    width: 1.066667rem;
    height: 0.666667rem;
    text-align: center;
    font-size: 0.4rem;
    letter-spacing: 0.053333rem;
    text-indent: 0.053333rem;
    background: #a300f0;
    border-radius: 0 0.133333rem 0.133333rem 0;
    color: #fff;
    box-shadow: 0.066667rem 0.066667rem 0.133333rem #13161e;
}

/*活动内容区域*/
.in-content-box {
    position: relative;
    width: 10.0rem;
    margin: 0 auto;
    padding-top: 3.2rem;
    /*background: yellow;*/
    color: #fff;
    z-index: 2;
}

/*参与活动人数*/
.in-altogether {
    text-align: center;
}

.in-altogether .line {
    width: 1.173333rem;
    height: 0.04rem;
    margin-top: 0.186667rem;
    border-radius: 50%;
    background: #fff;
}

.in-altogether .line:first-child {
    float: left;
    margin-left: 1.426667rem;
}

.in-altogether .line:last-child {
    float: right;
    margin-right: 1.426667rem;
}

.in-altogether p {
    float: left;
    width: 4.8rem;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.32rem;
    overflow: hidden;
}

.in-altogether p span {
    margin: 0 0.133333rem;
    color: yellow;
    font-weight: 600;
    font-size: 0.373333rem
}

/*个人信息资料*/
.in-personal {
    /*background: red;*/
    padding-top: 0.333333rem;
}

.in-personal .in-per-head {
    float: left;
    margin-left: 1.466667rem;
}

.in-personal .in-per-head img {
    float: left;
    width: 1.28rem;
    height: 1.28rem;
    border-radius: 50%;
    border: 0.04rem solid #640aaf;
}

.in-personal .in-per-head p {
    float: left;
    font-size: 0.346667rem;
    line-height: 1.28rem;

}

.in-personal .in-per-head p span {
    margin: 0 0.2rem;
    color: #eb6100;
}

.in-personal .in-per-count {
    float: right;
    margin-right: 1.466667rem;
    font-size: 0.32rem;
    line-height: 0.64rem;
}

.in-personal .in-per-count span {
    margin: 0 0.133333rem;
    color: #eb6100;
}

/*点击签到按钮*/
.in-sign {
    position: relative;
}

.in-sign a {
    display: block;
    width: 4.8rem;
    height: 4.8rem;
    margin: 0.266667rem auto 0;
    background: url("../images/draw-button-default.png") no-repeat;
    -webkit-background-size: 4.8rem 4.8rem;
    background-size: 4.8rem 4.8rem;
}

.in-sign.complete a {
    background: url("../images/draw-button.png") no-repeat;
    -webkit-background-size: 4.8rem 4.8rem;
    background-size: 4.8rem 4.8rem;
}

.in-sign .in-sign-ribbons {
    /*彩带样式，默认隐藏，签到后显示*/
    display: none;
    position: absolute;
    top: 0;
    left: 1.0rem;
    width: 7.906667rem;
    height: 4.2rem;
    background: url("../images/in-ribbons-draw.png") no-repeat;
    -webkit-background-size: 7.906667rem 4.2rem;
    background-size: 7.906667rem 4.2rem;
}

.in-sign.complete .in-sign-ribbons {
    display: block;
    /*-webkit-animation: showHide 1.2s linear infinite;*/
    animation: show 2s linear infinite;
    /*animation: hide 1.2s linear infinite;*/
}

/*彩带闪烁动画*/
@-webkit-keyframes show {

    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*立即抽奖板块*/
.in-draw-box {
    margin-top: 0.266667rem;
}

.in-draw-box .in-draw-text {
    font-size: 0.32rem;
    text-align: center;
    line-height: 0.48rem;
}

.in-draw-box .in-draw-text span {
    margin: 0 0.133333rem;
    color: #eb6100;
    font-weight: bold;
}

.in-draw-box .in-draw-btn {
    display: block;
    width: 7.04rem;
    height: 1.04rem;
    margin: 0.133333rem auto 0;
    border-radius: 0.066667rem;
    background: #9a0094;
    font-size: 0.466667rem;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.133333rem;
    text-indent: 0.133333rem;
}

/*技术支持*/
.in-support {
    margin-top: 0.266667rem;
    font-size: 0.213333rem;
    text-align: center;
    color: #fff;
    letter-spacing: 0.04rem;
}

/*音乐符号旋转动画*/
@-webkit-keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.in-music-box {
    background: red;
    position: absolute;
    top: 0;
    left: 50%;
    width: 10.0rem;
    margin-left: -5rem;
    z-index: 5;
}

.in-music {
    position: absolute;
    top: 0.266667rem;
    right: 0.133333rem;
}

.in-music #audio-btn {
    width: 0.666667rem;
    height: 0.666667rem;
    background-size: 100% 100%;
}

.in-music .on {
    background: url("../images/music_on.png") no-repeat 0 0;
    -webkit-animation: rotating 1.2s linear infinite;
    animation: rotating 1.2s linear infinite;
}

.in-music .off {
    background: url("../images/music_off.png") no-repeat 0 0;
}

/*弹窗*/
.pop-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
}

/*规则弹窗*/
.pop-rule-box,
.pop-draw-box {
    width: 10rem;
    height: 100%;
    margin: 0 auto;
    color: #fff;
}

.pop-rule-nav {
    width: 80%;
    margin: 0 auto;
    padding-top: 1.333333rem;
    border-bottom: 0.04rem solid #fff;
}

.pop-rule-nav li {
    position: relative;
    float: left;
    width: 50%;
    height: 1.0rem;
    text-align: center;
    font-size: 0.4rem;
    line-height: 1rem;
    cursor: pointer;
    overflow: hidden;
}

.pop-rule-nav li:last-child:before {
    content: "";
    width: 1px;
    height: 0.4rem;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0.2rem;

}

.pop-rule-nav li.current:after {
    content: "";
    width: 0.4rem;
    height: 0.4rem;
    background: #fff;
    position: absolute;
    left: 50%;
    bottom: -0.333333rem;
    margin-left: -0.2rem;
    -webkit-transform: rotate(45deg); /* Safari 和 Chrome */
    transform: rotate(45deg);
}

.pop-rule-content {
    width: 80%;
    margin: 0 auto;
}

.pop-rule-content li {

}

.pop-rule-content li dt {
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
    font-size: 0.4rem;
}

.pop-rule-content li dd {
    font-size: 0.32rem;
}

/*关闭按钮*/
.pop-rule-wrap .pop-close {
    position: absolute;
    bottom: 1.333333rem;
    left: 50%;
    width: 1.2rem;
    height: 1.2rem;
    margin-left: -0.6rem;
    background: url("../images/close@fff.png") no-repeat;
    -webkit-background-size: 1.2rem 1.2rem;
    background-size: 1.2rem 1.2rem;
    cursor: pointer;
}

/*抽奖盘弹窗*/
.pop-draw-box {
    position: relative;
    padding-top: 2.0rem;
}

.pop-draw-box .pop-draw-content {
    width: 100%;
    height: 6.0rem;

}

.pop-draw-box .pop-draw-content p {
    font-size: 0.4rem;
    font-weight: 500;
    text-align: center;
}

.pop-draw-box .pop-draw-content .pop-draw-con-img {
    width: 4.0rem;
    height: 4.0rem;
    margin: 0.4rem auto;
    background: skyblue;
}

.pop-draw-box .pop-draw-circle {
    position: relative;
    width: 100%;
    height: 6.96rem;
}

.pop-draw-box .pop-draw-bg {
    position: absolute;
    left: 50%;
    top: 0;
    width: 6.96rem;
    height: 6.96rem;
    margin-left: -3.48rem;
    background: url("../images/draw_bg@522x522.png") no-repeat;
    -webkit-background-size: 6.96rem 6.96rem;
    background-size: 6.96rem 6.96rem;
}

.pop-draw-box .pop-draw-prize {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 5.6rem;
    height: 5.6rem;
    margin-left: -2.8rem;
    margin-top: -2.8rem;
    background: url("../images/draw_prize@420x420.png") no-repeat;
    -webkit-background-size: 5.6rem 5.6rem;
    background-size: 5.6rem 5.6rem;
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -ms-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    transition: all 3s ease-in-out;

}

.pop-draw-box .pop-draw-needle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 2.413333rem;
    height: 2.813333rem;
    margin-left: -1.206667rem;
    margin-top: -1.6rem;
    background: url("../images/draw_needle@181x211.png") no-repeat;
    -webkit-background-size: 2.413333rem 2.813333rem;
    background-size: 2.413333rem 2.813333rem;
    cursor: pointer;
}

/*抽奖关闭按钮*/
.pop-draw-box .pop-close {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    width: 0.8rem;
    height: 0.8rem;
    background: url("../images/close@fff.png") no-repeat;
    -webkit-background-size: 0.8rem 0.8rem;
    background-size: 0.8rem 0.8rem;
    cursor: pointer;
}
































