@charset "utf-8";

/* ----------------------------------------
	reset.css
	Description: Arthas-XUE_RESET CSS
	Version 1.0, 2017-7-4
----------------------------------------- */

/* 防止用户自定义背景颜色对网页的影响 */
html {
    color: #333333;
    background: #fff;
}

/*内外边距重置*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
}

/*清除列表样式*/
li {
    list-style: none;
}

/*设置标准字体颜色字号*/
html,
body,
th,
td,
button,
input,
select,
textarea {
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
    font-size: 12px;
    word-wrap: break-word;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

/*设置文字样式*/
address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: 400;
}

/*继承父元素字体文字样式*/
input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}

input,
button {
    overflow: visible;
    vertical-align: middle;
    outline: none;
}

/*设置行间距*/
body {
    line-height: 1.6;
}

/*设置标题字号*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

/*按下鼠标图片周边不会出现虚线*/
a,
area {
    outline: none;
    blr: expression(this.onFocus=this.blur()) ；
}

/*清除a标签样式，鼠标状态*/
a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    outline: none;
}


a:focus {
    text-decoration: none;
    outline: none;
}

a:hover,
a:active {
    text-decoration: none;
    outline: none;
}

a:focus {
    text-decoration: none;
    outline: none;
}

/* 统一上标和下标 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/*清除input样式*/
button,
input[type="button"],
input[type="submit"] {
    line-height: normal;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

/*-----去除IOS系统按钮默认样式-----*/
input[type=button],
input[type=submit],
input[type=file],
button,
button:active{
    cursor: pointer;
    -webkit-appearance: none;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* IE bug fixed: th 不继承 text-align*/
th {
    text-align: inherit;
}
/*图片标签变块级元素*/
img{
    display: block;
}
/*清除浮动*/
.cl:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.cl {
    zoom: 1;
}

/*~~~~~~~~~~~~~~~~~~~~~
    本项目默认css样式
~~~~~~~~~~~~~~~~~~~~~~~*/
* {
    border: none;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased; /*清除字体锯齿，清晰字体*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*根字号大小，不可删除*/
html {
    font-size: 75px;
}
